
		.header{
background-color: black;
height: 150px;
width: 100%;
position:;
		}
		.nav{
			background-color: red;
			height: 50px;
			width: 100%;
			border-right: rotate(20deg);
			margin-top:29px;
			margin-left:15px;
		}
		
		ul li{
			list-style-type: none;
			float: left;
			padding: 10px;

		}

		.social{
			height: 50px;
			width: 20%;
			padding: 5px;
		}
		.socialmedia{
			color: white;
		}
		.section ul li{
			word-spacing: 5px;
			width: 100%;
		}

.section ul li{
background-color: red;
}
		li{
			margin-bottom: 5px;
		}
		ul  i{
padding: 10px;
		}
	.jwelleries .box{
		 float:left;
  text-align: center;
  width:%;
  padding:10px;
	}
	.jwelleries .box img{
  width:150px;
  padding:10px;
}
	.watches .boxes{
		 float:left;
  text-align: center;
  width:%;
  padding:10px;
	}
		.watches .boxes img{
  width:150px;
  padding: px;
}
a{
	color: black;
}
.text{
	background-color: red;
	width:100%;
	height: 150px;
}
.form{
	background-color: red;
	width:100%;
	height: 150px;
}
p{
	color: black;
}
.p1{
	width: 100%;
	height: 100px;
	background-color: yellow;
}
.mySlides {
	display:none;
}
h3{
	width: 100%;
	height: 30px;
	background-color:grey;
}
.socialmedia a i{
	color:lightblue;
}